@use '../abstracts/tokens' as *
@use '../mixins/rem' as *

.authorization
  position: fixed
  inset: 0
  height: 100%
  width: 100%
  z-index: 10
  display: flex
  align-items: center
  justify-content: center
  padding: 24px
  transition: $transition
  opacity: 0
  pointer-events: none
  
  .banner-bg
    inset: 0
    opacity: 1
    &::before
      background: rgba(black, .8)

  .popup__box
    max-width: rem(396)
    width: 100%
    position: relative
    transition: $transition
    transform: scale(0.8)

    .heading
      margin-bottom: rem(16)
      justify-content: flex-start
      gap: rem(8)
      .icon
        width: rem(24)
        height: rem(24)
        img
          width: 100%
    p
      margin-bottom: rem(24)
      line-height: rem(18)

  &.show
    opacity: 1
    pointer-events: inherit

    .popup__box
      transform: none
