// components/_filter.sass
@use "../abstracts/tokens" as *
@use "../abstracts/media" as *
@use "../mixins/rem" as *

.filter
  width: calc( 100% + rem(32) )
  margin-left: rem(-16)
  display: flex
  justify-content: space-between
  
  @include md
    display: flex
    align-items: center
    gap: rem(10)

  .select 
    min-width: rem(130)
    background-color: #2B2B37
    padding: rem(9) rem(12)
    

.filter__list
  padding-inline: rem(16)
  margin: 0

.filter__chip
  border: 1px solid $base-color
  padding: rem(9) rem(14)
  border-radius: rem(12)
  white-space: nowrap
  line-height: 1
  background: none
  color: #fff
  cursor: pointer
  width: auto
  margin-right: rem(9)

  &:last-child
    margin-right: 0


  @media (hover: hover) and (pointer: fine)
    transition: $transition

    &:hover
      background-color: #fff
      color: $dark

  &.active
    background-color: #fff
    color: $dark
    border-color: transparent
