@use '../abstracts/tokens' as *
@use '../abstracts/media' as *
@use '../mixins/rem' as *

.contacts
  padding-top: rem(40)

  .title
    margin-bottom: rem(16)
  p
    color: #fff

  ul
    margin: rem(16) 0 rem(40)

    @include md
      margin-bottom: rem(64)

      
    li
      margin-bottom: rem(16)
      
      @include md
        display: inline-block
        margin-bottom: 0
        margin-right: rem(40)

      &:last-child
        margin: 0

      a
        display: flex
        align-items: center
        gap: rem(12)
        color: #fff

      .icon
        width: rem(24)
        height: rem(24)

  &__btn-wrap
    display: flex
    flex-direction: column
    gap: rem(8)

    @include md
      flex-direction: row
      gap: rem(24)
    
    .btn   
      @include md
        max-width: rem(240)
        width: 100%
