@use '../abstracts/tokens' as *
@use '../mixins/rem' as *

.services-slider
  
  .swiper-wrapper
    .swiper-slide
      width: auto
      flex: 0 0 auto
      margin: 0

  .tile
    text-align: center
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

  &__tab-slide
    opacity: 0
    position: absolute
    pointer-events: none
    transition: $transition
    top: rem(-20)

    &.show
      opacity: 1
      pointer-events: inherit
      position: relative
      top: 0
      
  &--similar
    margin-top: rem(56)
    .title
      margin-bottom: rem(16)

 