header.header
  .container
    .header__flex-container
      .header__flex-elem
        include ../components/logo.pug
      .header__flex-elem.header__flex-elem--control-wrap
        .avatar.trigger-js(data-name="popup-profile")
         


        include ../components/popup-profile

      include ../components/menu       
      

    
