.header__flex-elem.header__flex-elem--menu
  nav.swiper.horizontal-scroll-js
    ul.header__nav.nav.swiper-wrapper
      each item, i in menu
        li.swiper-slide(class={ active: i === 0 })
          a.nav__link(href=item.href)
            .nav__link-icon.icon
              +icon(item.icon, { class: 'btn__icon', width: 20, height: 20 })
            span= item.label
