mixin filterChips(items = [], active = 0)
  .filter
    .filter__list.swiper.horizontal-scroll-js
      .swiper-wrapper
        each item, i in items
          - const on = i === active
          .filter__chip.swiper-slide.trigger-js(
            data-name=item
            class={ active: on }
          )= item



//- +filterChips(['Все','Стриминг','Нейросети','Продуктивность'], 0)

//- each item, i in ['Все','Карты','Кошельки','Игры','Подписки','Нейросети','Продуктивность','Образование']