extends ../layouts/base.pug
include ../mixins/filter-scroll.pug
include ../mixins/radio
include ../mixins/agree
include ../components/replenishment


block content
  include ../components/header-profile
  .bg-wrap.bg-wrap--replenishment
    .container
      +replenishment('alipay','Пополнение AliPay','gradient4')

  .container
    include ../components/tabs