extends ../layouts/replenishment

block content
  .flex-layout.flex-layout--replenishment
    .flex-layout__item 
      .replenishment-desc
        h1.title Международные денежные переводы из Австралии
        p Переводите деньги онлайн в более чем 170 стран мира всего за 3,9 AUD

        .replenishment-desc__flex
          .replenishment-desc__flex-item
            +icon('check-o', {width: 48, height: 48})
            p Быстро и легко
          .replenishment-desc__flex-item
            +icon('heart', {width: 48, height: 48})
            p Более 10 млн клиентов
          .replenishment-desc__flex-item
            +icon('support', {width: 48, height: 48})
            p Круглосуточная <br> поддержка <br> пользователей

    .flex-layout__item 
      .operation
        a(href="#").btn-back
          +icon('angle', {width: 20, height: 20})
          span Назад
        .wrap.wrap--inner-pages
          h3.title.title--md Перевод на карту Mastercard
          h4.title.title--sm.title--primary Калькулятор перевода
          form.form
            .input.input--basic.default
              .input__field
                label.input__label(for="card-number") Номер карты получателя
                input#card-number(type="text" name="card number")

              .input__require Должна быть Mastercard

            .input.input--basic.default
              .input__field
                label.input__label(for="name") Имя получателя
                input#name(type="text" name="name")

              .input__require Английскими буквами

            .input.input--basic.default
              .input__field
                label.input__label(for="surname") ФИО получателя
                input#surname(type="text" name="surname")

              .input__require Английскими буквами

            

            button.btn.btn--primary.btn--w100(type='submit') Продолжить
