html.scroll-locked,
body.scroll-locked
  overflow: hidden !important
  
body
  background-color: #15151F

form
  width: 100%

.flex-layout
  display: flex

.disabled
  pointer-events: none
  .heading
    justify-content: flex-start


.trigger-js.active
  pointer-events: none  